<template x-teleport="body">
    <form
        class="contact-form"
        action="https://formspree.io/f/myzkbppo"
        method="POST"
    >
        <div class="paper">
            <h1 class="title">CONTACT US</h1>
            <label>
                Your email:
                <input type="email" name="email" />
            </label>
            <label>
                Your message:
                <textarea name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button type="submit">Submit</button>
        </div>
    </form>
</template>
