<template x-teleport="body">
    <header class="cloud-header">
        <nav>
            <div class="nav-left">
                <img src="/WRANDTEL.png" alt="WRANDTEL" class="nav-logo" />
                <a
                    href="/"
                    class="nav-home"
                    @click.prevent="navigateTo('/'); switchVisible('/')"
                >
                    WRANDTEL
                </a>
            </div>
            <div class="nav-links">
                <a
                    href="/portfolio"
                    @click.prevent="navigateTo('/portfolio'); switchVisible('/portfolio')"
                >
                    Portfolio
                </a>
                <a
                    href="/history"
                    @click.prevent="navigateTo('/history'); switchVisible('/history')"
                >
                    History
                </a>
                <a
                    href="/values"
                    @click.prevent="navigateTo('/values'); switchVisible('/values')"
                >
                    Values
                </a>
                <a
                    href="/contact"
                    @click.prevent="navigateTo('/contact'); switchVisible('/contact')"
                >
                    Contact
                </a>
            </div>
        </nav>
        <div class="cloud-bottom">
            <div class="cloud-layer-1"></div>
            <div class="cloud-layer-2"></div>
        </div>
    </header>
</template>
